@model Worflow.Models.Endereco

@{
    ViewData["Title"] = "DetalhesEndereco";
}

<h3><i class="fa-solid fa-list" style="color: var(--corPrincipal); margin-right: 5px"></i>Detalhes Endereço</h3>

<div class="card">

    <div class="card-body">
        <form>
            <fieldset disabled>
                <div class="row mb-3">

                    <div class="col-2">
                       
                        <label asp-for="CEP" class="control-label"></label>
                        <input asp-for="CEP" class="form-control" />

                    </div>

                    <div class="col-8">                      

                        <label asp-for="Logadouro" class="control-label"></label>
                        <input asp-for="Logadouro" class="form-control" />                        

                    </div>

                    <div class="col-2">
                        
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-5">
                        
                        <label asp-for="Bairro" class="control-label"></label>
                        <input asp-for="Bairro" class="form-control" />

                    </div>

                    <div class="col-5">
                        
                        <label asp-for="Cidade" class="control-label"></label>
                        <input asp-for="Cidade" class="form-control" />

                    </div>

                    <div class="col-2">
                        
                        <label asp-for="UF" class="control-label"></label>
                        <input asp-for="UF" class="form-control" />

                    </div>

                </div>

            </fieldset>
        </form>
    </div>

    <div class="card-footer" style="text-align:end">
        <button type="button" class="btn btn-Acoes" onclick="location.href='@Url.Action("ListarEnderecos", "Endereco")'">Voltar</button>
    </div>

</div>
