@model IEnumerable<Worflow.Models.Endereco>

@{
    ViewData["Title"] = "GetEndereco";
}

<form asp-action="PesquisarEnderecos">

    <div class="form-row align-items-center">

        <div class="col-8">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa-solid fa-magnifying-glass" style="color: var(--corPrincipal); margin-right: 5px"></i></div>
                </div>
                <input type="text" class="form-control" id="txtPesquisar"
                       name="pesquisar" placeholder="Rua, Bairro, Cidade">
            </div>
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-Pesquisa mb-2">Pesquisar</button>
        </div>

        <div class="col-2" style="text-align:end">
            <button type="button" class="btn btn-Acoes mb-2" onclick="location.href='@Url.Action("Create", "Endereco")'">Novo</button>
        </div>

    </div>

</form>

<div class="table-responsive">

    <partial name="~/Views/Endereco/PartialViews/_TabelaEnderecos.cshtml" />

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

