@model Worflow.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h3><i class="fa-regular fa-plus" style="color: var(--corPrincipal); margin-right: 5px"></i>Novo Usuário</h3>

<form asp-action="InserirUsuario">

    <div class="card">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">

                <div class="col-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label asp-for="RACF" class="control-label"></label>
                    <input asp-for="RACF" class="form-control" />
                    <span asp-validation-for="RACF" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-6">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                </div>

                <div class="col-6">

                    @Html.DropDownListFor(model => model.PerfilId, new SelectList(ViewBag.Perfil, "Id", "Descricao")
                      , new { @class = "form-control" })

                </div>
            </div>

        </div>

        <div class="card-footer" style="text-align:end">

            <button type="button" class="btn btn-Acoes" onclick="location.href='@Url.Action("ListarUsuarios", "Usuario")'">Voltar</button>

            <input type="submit" value="Salvar" class="btn btn-Acoes" />

        </div>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
