@model Worflow.Models.Usuario

@{
    ViewData["Title"] = "Detalhes";
}

<h3><i class="fa-solid fa-list" style="color: var(--corPrincipal); margin-right: 5px"></i>Detalhes de Usuários</h3>

<div class="card">

    <div class="card-body">
        <form>
            <fieldset disabled>

                <div class="row mb-3">

                    <div class="col-6">
                        <label>Nome</label>
                        <input type="text" class="form-control" value='@Model.Nome'>
                    </div>

                    <div class="col-6">
                        <label>RACF</label>
                        <input type="text" class="form-control" value=@Model.RACF />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked='@Model.Ativo'>
                            <label class="custom-control-label">Ativo</label>
                        </div>
                    </div>
                   
                    <div class="col-6">
                        <label>Perfil</label>
                        <input type="text" class="form-control" value=@Model.Perfil.Descricao />
                    </div>
                </div>

            </fieldset>

        </form>
    </div>

    <div class="card-footer" style="text-align:end">
        <button type="button" class="btn btn-Acoes" onclick="location.href='@Url.Action("GetUsuario", "Usuario")'">Voltar</button>
    </div>

</div>



