@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card text-center">

    <div class="card-header">
        Tecnologias
    </div>

    <div class="card-body">
        <h5 class="card-title">Worflow</h5>
        <p class="card-text">Asp.Net Core</p>
        <p class="card-text">Entity Framework</p>
        <p class="card-text">BootStrap 5.2.3</p>
    </div>

    <div class="card-footer text-muted">
        &copy; Worflow
    </div>

</div>
   
       
