@model Worflow.Models.LeadCotacao

<div class="modal-dialog modal-xl">
    <div class="modal-content">

        <div class="modal-header">
            <h3><i class="fa-regular fa-plus" style="color: var(--corPrincipal); margin-right: 5px"></i>Cotações</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>  

        <div class="modal-body">

            <form>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.HiddenFor(model => Model.Cotacao.LeadId, new { @class = "hid-id", @id="LeadId" })

                <div class="row mb-3">

                    <div class="col-6">
                        <label asp-for="Cotacao.DataEmissao" class="control-label"></label>
                        <input asp-for="Cotacao.DataEmissao" id="DataEmissao" class="form-control" type="date" />
                        <span asp-validation-for="Cotacao.DataEmissao" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label asp-for="Cotacao.DataVencimento" class="control-label"></label>
                        <input asp-for="Cotacao.DataVencimento" id="DataVencimento" class="form-control" type="date" />
                        <span asp-validation-for="Cotacao.DataVencimento" class="text-danger"></span>
                    </div>

                </div>

                <div class="row mb-3">

                    <div class="col-6">
                        <label asp-for="Cotacao.Valor" class="control-label"></label>
                        <input asp-for="Cotacao.Valor" id="Valor" class="form-control" />
                        <span asp-validation-for="Cotacao.Valor" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label class="control-label">Seguradoras</label>

                        <select class="form-select form-select-lg mb-3"
                                aria-label="select para seguradoras"
                                asp-for="Cotacao.SeguradoraId"
                                id="SeguradoraId">
                            <option selected>Selecione</option>
                            @foreach (var item in ViewBag.Seguradoras)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        </select>
                        <span asp-validation-for="Cotacao.SeguradoraId" class="text-danger"></span>
                    </div>

                </div>

                <div class="row mb-3">

                    <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">                      

                        <input type="submit" value="Salvar" class="btn btn-Acoes" onclick="InserirCotacao(@Model.Lead.Id)" />

                    </div>                    

                </div>

            </form>            

        </div>

    </div>

</div>
