
.gridProduto {
    position: relative;
}

.gridProduto__titulo {
    font-size: 25px;
}

.gridProduto__itens_info {
    font-size: 20px;
    margin-left: 40px;
    cursor: pointer;
    margin-top: 2px;
}

.btn-cotacao{
    position:absolute;
    margin-top: 7.5%;
}




