@model IEnumerable<Worflow.Models.Produto>

@foreach(var item in Model)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="chc_@item.Id"/>
        <label class="form-check-label ml-4" for="chkProdutos">
            @Html.DisplayFor(modelItem => item.Descricao)
        </label>
    </div>
}

